<%= bootstrap_form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contianer">
    <div class="row">
      <div class="col">
        <%= form.text_field :title %>
        <%= form.text_field :tags %>
        <%= form.text_field :topic %>
        <%= form.text_area :content %>
        <%= form.check_box :public %>
      </div>
      <div class="col">
        <%if article.image.attached?%>
          <%= image_tag article.image, style: widht="350", class: 'img-fluid rounded float-left'%>
        <%end%>
        <img src="https://cdn4.iconfinder.com/data/icons/graphic-design-71/32/Graphic_Design_picture_upload-512.png" width="250">
        <%= form.file_field :image%>
      </div>
    </div>
  <div class="text-center">
    <%= form.submit 'Post', class: 'btn btn-primary'%>
<% end %>
